@model Book

<tr>
    <td>@Model.BookID</td>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirstName @Model.AuthorLastName</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Category</td>
    <td>@Model.Pages</td>
    <td>$@Model.Price</td>
</tr>