@{
}
@model BookListViewModel

<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<!--Table to dynamically display all the information in the bookstoredb-->
<table class="table table-striped">

    <tr class="thead-dark">
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification/Category</th>
        <th>Number of Pages</th>
        <th>Price</th>
    </tr>

    <tbody>
        @foreach (var x in Model.Books)
        {
            <tr>
                <td>@x.BookID</td>
                <td>@x.Title</td>
                <td>@x.AuthorFirstName @x.AuthorLastName</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Category</td>
                <td>@x.Pages</td>
                <td>$@x.Price</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination" page-model="@Model.PagingInfo" page-action="Index"></div>