@{
}
@model IQueryable<Book>

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<!--Table to dynamically display all the information in the bookstoredb-->
<table id="movies">

    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification/Category</th>
        <th>Number of Pages</th>
        <th>Price</th>
    </tr>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.BookID</td>
            <td>@x.Title</td>
            <td>@x.AuthorFirstName + " " + @x.AuthorLastName</td>
            <td>@x.Publisher</td>
            <td>@x.ISBN</td>
            <td>@x.Category</td>
            <td>$@x.Pages</td>
            <td>$@x.Price</td>
        </tr>
        }

    </tbody>

</table>